<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="style/table.css" />
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <h1>Message Logs</h1>
      <% if(messageList.length>0){ %>
      <table>
        <tr>
          <th>File</th>
          <th>Remove</th>
          <th>Time</th>
          <th>Message</th>
        </tr>
        <% messageList.forEach(each => { %>
        <tr>
          <td><%= each.title %></td>
          <td><button onclick=<%= clickHandler(each.title) %>>X</button></td>
          <td><%= each.time %></td>
          <td><%= each.message %></td>
        </tr>
        <% }) %>
      </table>
      <%} else { %>
      <p>The log is currently empty</p>
      <% } %>
    </main>
    <%- include('includes/end.ejs') %>